@font-face {
    font-family: 'GamePaused';
	font-weight: 400;
    font-style: normal;
	src: url('../font/GamePaused-Regular.woff2') format('woff2'),
        url('../font/GamePaused-Regular.woff') format('woff');
}

:root {
    --Blanc-casse: #FFF9D7;
    --Gris-sombre: #292929;
    --Gris-Faible-Opa: rgba(0, 0, 0, 0.7);
    --Jaune: #FFC42E;
    --Red: #FE2A49;
    --Blue: #3B64A3;

    --Radius-Int: 2px;
    --Radius-ext: 4px;
    --Border-Int: 3px solid var(--Gris-sombre);
    --Border-Out: 3px solid var(--Blanc-casse);
    --Border-Out-Selected: 6px solid var(--Jaune);

    --h4: 1.25rem;
    --micro: 0.813rem;
    --BIG: 3.125rem;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* height: 100vh; */
    /* width: 100vw; */
    font-family: 'GamePaused', sans-serif;
    background: url(../asset/IUT_site_de_champs.png);
    background-size: cover;
    background-position: center;
}

body > h1 {
    margin: 0px;
}

body > pre {
    margin: 0px;
    width: 100%;
}

.BTN {
    display: block;
    padding: 10px 30px;
    border-radius: var(--Radius-ext);
    border: var(--Border-Int);
    outline: var(--Border-Out);
    margin: 10px;
    width: fit-content;
    background: url(../asset/Texture1.svg) center;
    text-decoration: none;

    font-size: 1.563rem;
    font-family: 'GamePaused', sans-serif;
    text-align: center;

    cursor: pointer;
}

.BTN:hover {
    color: var(--Jaune);
    outline-color: var(--Jaune);
}

.BTN:disabled {
    outline: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.BTN:disabled:hover {
    color : var(--Blanc-casse);
    outline-color: none;
}

.Text_Border {
    color: var(--Blanc-casse);
    text-shadow: var(--Gris-sombre) 2px 0px 0px, var(--Gris-sombre) 1.75517px 0.958851px 0px, var(--Gris-sombre) 1.0806px 1.68294px 0px, var(--Gris-sombre) 0.141474px 1.99499px 0px, var(--Gris-sombre) -0.832294px 1.81859px 0px, var(--Gris-sombre) -1.60229px 1.19694px 0px, var(--Gris-sombre) -1.97998px 0.28224px 0px, var(--Gris-sombre) -1.87291px -0.701566px 0px, var(--Gris-sombre) -1.30729px -1.5136px 0px, var(--Gris-sombre) -0.421592px -1.95506px 0px, var(--Gris-sombre) 0.567324px -1.91785px 0px, var(--Gris-sombre) 1.41734px -1.41108px 0px, var(--Gris-sombre) 1.92034px -0.558831px 0px;
}


/*? --- Page Accueil  */

.acceuil {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.acceuil > h1 {
    display: none;
}

.Start_Btn {
    padding: 10px 30px 5px;
    font-size: var(--BIG);
    background: url(../asset/Texture5.svg) center;
}

/*? --- Formulaire Séléction  */

.Choix_Bas {
    background: var(--Gris-Faible-Opa);
    backdrop-filter: blur(4px);
}

.ChoixPerso {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, fit-content(100%));
    width: 100%;
    gap: 20px;

    grid-template-areas: 
        "j1 j2"
        "f f"
        "l l";
}

.ChoixPerso > .Start_Btn {
    grid-area: f;
}

.ChoixPerso > .GrillePerso {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.ChoixPerso > .GPj1 {
    grid-area: j1;
}

.ChoixPerso > .GPj2 {
    grid-area: j2;
}

.ChoixPerso > .Lien {
    grid-area: l;
}

.GrillePerso > h2 {
    width: 100%;
}


/*? --- Carte Séléction  */

.SelectCards > input {
    display: none;
}

.SelectCards > label {
    display: grid;
    cursor: pointer;
    border-radius: var(--Radius-ext);
    width: fit-content;
    border: var(--Border-Int);
    outline: var(--Border-Out);
    font-size: var(--h4);
    overflow: hidden;
}

.SelectCards input:checked ~ label {
    outline: var(--Border-Out-Selected);
}

.SelectCards > label:hover {
    color: var(--Jaune);
    outline-color: var(--Jaune);
}

.SelectCards .Stats {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 3px;
    flex-direction: column;
    background: var(--URL) center;
    background-size: cover;
}

.nbStats {
    display: flex;
    width: fit-content;
    gap: 3px;
    font-size: var(--micro);
    align-items: center;
    height: fit-content;
}

.nbStats > p {
    margin: 0px;
}

.nbStats > img {
    height: 14px;
    width: 14px;
}

.SelectCards label > p {
    margin: 0px;
    padding: 3px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.Sj1 > label > p {
    background: url(../asset/Texture1.svg) center;
}

.Sj1 input:checked ~ label {
    outline-color: var(--Red);
}

.Sj2 > label > p {
    background: url(../asset/Texture2.svg) center;
}

.Sj2 input:checked ~ label {
    outline-color: var(--Blue);
}



.Sj1 input:disabled ~ label, .Sj2 input:disabled ~ label {
    outline: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.Sj1 input:disabled:hover ~ label, .Sj2 input:disabled:hover ~ label {
    color : var(--Blanc-casse);
    outline-color: none;
}












.btn_Action {
    display: block;
    padding: 10px 30px;
    border-radius: var(--Radius-ext);
    margin: 10px;
    border: var(--Border-Int);
    outline: var(--Border-Out);
    width: fit-content;
    background: url(../asset/Texture1.svg) center;
    text-decoration: none;

    font-size: 1.563rem;
    font-family: 'GamePaused', sans-serif;
    color: var(--Blanc-casse);
    text-shadow: var(--Gris-sombre) 2px 0px 0px, var(--Gris-sombre) 1.75517px 0.958851px 0px, var(--Gris-sombre) 1.0806px 1.68294px 0px, var(--Gris-sombre) 0.141474px 1.99499px 0px, var(--Gris-sombre) -0.832294px 1.81859px 0px, var(--Gris-sombre) -1.60229px 1.19694px 0px, var(--Gris-sombre) -1.97998px 0.28224px 0px, var(--Gris-sombre) -1.87291px -0.701566px 0px, var(--Gris-sombre) -1.30729px -1.5136px 0px, var(--Gris-sombre) -0.421592px -1.95506px 0px, var(--Gris-sombre) 0.567324px -1.91785px 0px, var(--Gris-sombre) 1.41734px -1.41108px 0px, var(--Gris-sombre) 1.92034px -0.558831px 0px;
    
    width: 186px;
    text-align: center;
}

.BtnAtk {
    background: url(../asset/Texture1.svg) center;
}

.BtnCap1 {
    background: url(../asset/Texture2.svg) center;
}


.BtnCap2 {
    background: url(../asset/Texture3.svg) center;
}


.BtnSoi {
    background: url(../asset/Texture4.svg) center;
}


.PvBar {
    display: block;
    height: 30px;
    width: 500px;
    background-color: #C1BDA1;
    border-radius: 0px 4px 20px 0px;
    border: var(--Border-Int);
    outline: var(--Border-Out);
    overflow: hidden;
}

.PvBar::after {
    display: block;
    content: "";
    height: 100%;
    width: var(--Pv);
    background: url(../asset/Texture3.svg) center;
    margin: 0px;
    text-align: left;
}



/*? --- Tableau Admin */

.Admin .Tabl_Sprite {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.Admin table {
    width: 100%;
    border-collapse: collapse;
}

.Admin table th, .Admin table td {
    border : 1px solid var(--Gris-sombre);
}